@{
    ViewData["Title"] = "Home Page";
}

<table>
    <tr>
        <th>
            <td>
                <button>
                      <p>giới thiệu</p>
                </button>
            </td>
        </th>

        <th>
            <td>
                <button>
                    <p>danh mục</p>
                </button>
            </td>
        </th>

        <th>
            <td>
                <button>
                    <p>Thêm</p>
                </button>
            </td>
        </th>
        <th>
            <td>
                <button>
                    <p>đăng nhập</p>
                </button>
            </td>
        </th>

        <th>
            <td>
                <button>
                    <p>sửa</p>
                </button>
            </td>
        </th>
    </tr>



</table>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>

</div>